{% extends 'base.html.twig' %}

{% block title %}Modifier la Marque{% endblock %}

{% block body %}
    <h1>Modifier la Marque</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <button class="btn btn-warning">Modifier</button>
    {{ form_end(form) }}
{% endblock %}
