{% extends 'base.html.twig' %}

{% block title %}Historique des Mouvements{% endblock %}

{% block body %}
    <h1>Historique des Mouvements</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Produits déplacés</th>
        </tr>
        </thead>
        <tbody>
        {% for movement in movements %}
            <tr>
                <td>{{ movement.type }}</td>
                <td>{{ movement.date|date('Y-m-d H:i') }}</td>
                <td>
                    <ul>
                        {% for product in movement.products %}
                            <li>{{ product.productType.name }} (S/N: {{ product.serialNumber }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movement_new') }}" class="btn btn-success">Enregistrer un Mouvement</a>
{% endblock %}
