{% extends 'base.html.twig' %}

{% block title %}Liste des Types de Produit{% endblock %}

{% block body %}
    <h1>Liste des Types de Produit</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Marque</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product_type in product_types %}
            <tr>
                <td>{{ product_type.name }}</td>
                <td>{{ product_type.brand.name }}</td>
                <td>{{ product_type.category.name }}</td>
                <td>
                    <a href="{{ path('app_product_type_show', {id: product_type.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_product_type_edit', {id: product_type.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('app_product_type_delete', {id: product_type.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_type_new') }}" class="btn btn-success">Ajouter un Type de Produit</a>
{% endblock %}
