<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('app_main_index') }}">Gestion des Stocks</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_brand_index') }}">Marques</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_category_index') }}">Catégories</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_product_type_index') }}">Types de produit</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_product_index') }}">Produits</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_movement_index') }}">Mouvements</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_scan') }}">Scanner</a></li>
            </ul>
        </div>
    </nav>
</header>
